<section>
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-03/24/11/asset/buzzfeed-prod-fastlane-03/sub-buzz-31939-1490369791-13.jpg?downsize=715:*&output-format=auto&output-quality=auto">
    <div class="characterProfile">
            <h2><u>Harry Potter</u></h2>
            <p>FULL NAME: Harry James Potter</p>
            <p>BIRTHDAY: 31 July 1980</p>
            <p>WAND: Holly and Phoenix feather, eleven inches, nice and supple, it shares its core with Voldemort's wand</p>
            <p>HOUSE: Gryffindor</p>
            <p>PATRONUS: Stag</p>
            <p>PARENTS: Lily and James Potter</p>
            <p>SKILLS: Parseltongue, Defence Against the Dark Arts, skilled Seeker</p>
            <p><a href="https://www.pottermore.com/explore-the-story/harry-potter">Source</a></p>
    </div>
</section>