<section>
    <img src="https://i.pinimg.com/736x/29/56/65/295665fad56dadefd3c8972c287f2085--funny-stuff-funny-things.jpg">
    <div class="characterProfile">
            <h2><u>Hermione Granger</u></h2>
            <p>FULL NAME: Hermione Jean Granger</p>
            <p>BIRTHDAY: 19 September 1979</p>
            <p>WAND: Dragon heartstring core, ten and three-quarter inches, vine wood</p>
            <p>HOUSE: Gryffindor</p>
            <p>PATRONUS: Otter</p>
            <p>PARENTS: Mr and Mrs Granger, both Muggles, both dentists</p>
            <p>SKILLS: Almost everything</p>
            <p><a href="https://www.pottermore.com/explore-the-story/hermione-granger">Source</a></p>
        </div>
</section>