<section>
    <img src="https://pics.me.me/Twitter-Ron-Weasleys-facial-expressions-appreciation-tweet-86c8b5.png">
    <div class="characterProfile">
        <h2><u>Ron Weasley</u></h2>
        <p>FULL NAME: Ronald Bilius Weasley</p>
        <p>BIRTHDAY: 1 March 1980</p>
        <p>First wand: Twelve inch, ash wood and unicorn tail hair wand, hand-me-down from his brother Charlie</p>
        <p>HOUSE: Gryffindor</p>
        <p>PATRONUS: Jack Russell terrier</p>
        <p>PARENTS: Molly and Arthur Weasley</p>
        <p>SKILLS: Wizard chess, Quidditch goalkeeping</p>
        <p><a href="https://www.pottermore.com/explore-the-story/ron-weasley">Source</a></p>
    </div>
</section>
