body{
    background-image: url("https://i.pinimg.com/originals/d3/c1/c7/d3c1c766d1cd10049a6cd8a425b59fda.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

img{
    height: 500px;
    width: 600px;
    border: 2px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    background-color: white;
    color: navy;
    padding: 15px;
    border-radius: 10px;
}

.characterProfile{
    background-color:white;
    color: navy;
}